{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block mi_contenedor %}
<style>
    body {background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))}
</style>
    <div class="row row-cols-1 row-cols-md-2 g-4 pt-5">
        <div class="col mx-auto">
            <div class="card bg-dark text-white-50" style="width: 35rem;">
                <h6 class="card-subtitle pt-3 text-center text-white">REGISTRO DE INMUEBLE</h6>
                <div class="card-body">
                    <form action="" method="POST" enctype=multipart/form-data>{% csrf_token %}
                        <div class="form-group col-md-12 mb-0">
                            {{ form.image|as_crispy_field }}
                            {{ form.image.errors }}
                          </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <button type="submit" class="btn btn-outline-light btn-lg px-5 col-4 gap-2" id="btn1">Añadir</button>
                            <div class="col-1"></div>
                          <a class="btn btn-outline-light btn-lg px-5 col-4 gap-2" href="{% url 'home' %}">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pt-5 row row-cols-2 row-cols-md-3 g-4">
        {% if img_obj %}
        <div class="card" style="width: 18rem;">
        <h3>Imagen : {{img_obj.image}}</h3>
        <p>Id: {{img_obj.id}}</p> 
    <img src='{{ img_obj.image.url}}' alt='{{img_obj.image}}' style='max-height:300px'>
        <div class="card-body">
            <a href="{% url 'delete_img' id=img_obj.id %}" class="btn btn-primary">Borrar</a>
        </div>
    </div>
</div>
{% endif %}
    {% endblock %}