{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block mi_contenedor %}
<style>
  body {background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))}
</style>
    <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
        <div class="col mx-auto">
            <div class="card bg-dark text-white-50" style="width: 30rem;">
                <h6 class="card-subtitle pt-3 text-center text-white">Inicia Sesión</h6>
                  <div class="card-body">
                    <form action="" method="POST">{% csrf_token %}
                        {{ form|crispy}}
                        <div class="row">
                          <div class="col-1"></div>
                            <button type="submit" class="btn btn-outline-light btn-lg px-5 col-4">Iniciar</button>
                            <div class="col-1"></div>
                            <a class="btn btn-outline-light btn-lg px-5 col-4" href="/">Volver</a>
                      </div>
                    </form>
                    <p class="text-center pt-3 fw-semibold">Únete ahora a Inmobiliaria Francisco</p>
                    <p class="text-center">Obtén la mayor y mejor información de propiedades</p>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
