{% load static %}
<!DOCTYPE html>
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid text-white">
    <a class="navbar-brand" href="/"><img src="/media/_43ae1ddb-6867-4853-927e-6e9cbcb119ae.jpeg" alt="Inmobiliaria Francisco Longares" width="50" height="40"> INMOBILIARIA FRANCISCO</a>
    <div class="row">
      <div class="col-5">
    <li class="nav-item dropdown d-flex">
      <a class="dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-person-fill h2"></i></a>
      <ul class="dropdown-menu">
        {% if request.user.is_authenticated %}
        <li><a class="dropdown-item" href="#">Bienvenido</a></li>
        <li><a class="dropdown-item" href="#">{{ user.username | upper }}</a></li>
        <li><a class="dropdown-item" href="{% url 'salir' %}?next={{request.path}}"><i class="bi bi-person-fill-x"></i> Cerrar Sesión</a></li>
        {% else %}
        <li><a class="dropdown-item" href="{% url 'login_page' %}?next={{request.path}}"><i class="bi bi-person-fill"></i> Iniciar Sesión</a>
        <li><a class="dropdown-item" href="{% url 'register_user' %}?next={{request.path}}"><i class="bi bi-person-vcard-fill"></i> Registrarse</a>
        {% endif %}
      </ul>
    </li>
    </div>
    <div class="col-1">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Opciones</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil usuario
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'perfil_user' %}">Mostrar</a></li>
              <li><a class="dropdown-item" href="{% url 'update_user' %}">Modificar</a></li>
              <li>
            </ul>
          </li>
          {% for group in request.user.groups.all %}
          {% if group.name == 'Arrendatario' %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Publicar
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'create_inm' %}">Crear Publicación</a></li>
              <li><a class="dropdown-item" href="{% url 'publication_inm' %}">Ver Publicación</a></li>
              <li><a class="dropdown-item" href="{% url 'estado_inmuebles' %}">Estado Propiedades</a></li>
            </ul>
          </li>
          {% endif %}
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'salir' %}">Cerrar Sesión</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login_page' %}">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register_user' %}">Registrarse</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
</html>
<script src="{% static 'js/scripts.js' %}"></script>